<div class="container-fluid">
    <table>
        <tr>
            <td><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9x929-Ut9mo" allowfullscreen></iframe></div></td>
            <td><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hhN8iR6L04I"></iframe></div></td>
            <td><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J_zmRBtB4Rc"></iframe></div></td>
        <tr>
            <td><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hhN8iR6L04I"></iframe></div></td>
            <td><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SCPY_heVg18"></iframe></div></td>
            <td><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hXEqQvtw8gE"></iframe></div></td>
        </tr>
    </table>
 </div>