<div class="container-fluid">
  <button style="width:5em; line-height: 4em" class="flag-icon flag-icon-in ">
  </button>
  <br>
  <button style="width:5em; line-height: 4em" class="flag-icon flag-icon-us ">

  </button>
  <br>
  <button style="width:5em; line-height: 4em" class="flag-icon flag-icon-za ">

  </button>
  <br>
  <button style="width:5em; line-height: 4em" class="flag-icon flag-icon-ws ">

  </button>
  <br>
  <button style="width:5em; line-height: 4em" class="flag-icon flag-icon-vc ">

  </button>
  <br>
  <button style="width:5em; line-height: 4em" class="flag-icon flag-icon-tt ">

  </button>
  <br>
  <button style="width:5em; line-height: 4em" class="flag-icon flag-icon-tv ">

  </button>
  <br>
  
 
</div>