<div class="container-fluid">
    <div class="row">

        <div class="col-md-2 left">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="./assets/img/faces/varsha.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">Team Member</h6>
                    <h4 class="card-title">Varsha Bhong</h4>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-2 centerleft">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="./assets/img/faces/marc.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">Team Member</h6>
                    <h4 class="card-title">Kajal Kurhade</h4>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 center">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="./assets/img/faces/mihir.jpeg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">Team Leader</h6>
                    <h4 class="card-title">Mihir Sawant</h4>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-2 centerright">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="./assets/img/faces/marc.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">Team Member</h6>
                    <h4 class="card-title">Roshan Kanwal</h4>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-2 right">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="./assets/img/faces/urvi.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">Team Member</h6>
                    <h4 class="card-title">Urvi Patwa</h4>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth
                    </p>
                </div>
            </div>  
        </div>

    </div>
</div>